# Patterns to ignore when building packages.
.DS_Store
.git/
.gitignore
.vscode/
.idea/
*.swp
*.bak
*.tmp
*.orig
*~
# Test values for chart-testing
ci/
# Repository files that are not part of the chart
.github/
test/
dist/
# eudi-dev checkout of the CI e2e job
eudi-dev/
Makefile
ct.yaml
CONTRIBUTING.md
